Makefile
config.h
config.log
config.status
libtool
libtstat-demo/.deps/
libtstat-demo/Makefile
libtstat/.deps/
libtstat/Makefile
libtstat/libtstat.pc
stamp-h1
tstat/.deps/
tstat/Makefile
*.o
*.swp
stdin/
tstat
